.problems {
  padding: 120px 60px;
  background: white;
  text-align: center;
}

.problems h2 {
  font-family: var(--font-primary);
  font-size: 36px;
  font-weight: 600;
  color: #1f3aa8;
  margin-bottom: 60px;
}

/* Cards layout */
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* Main card */
.problem-card {
  background: #fcfdff;
  border-radius: 24px;
  padding: 5px 20px;
  width: 460px;
  box-shadow:
    0 12px 24px rgba(0,0,0,0.06),
    0 30px 60px rgba(0,0,0,0.05);
}

/* Icon row */
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-bottom: 10px;
}

.icon-wrap {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrap svg {
  width: 20px;
  height: 20px;
}

/* Icon colors */
.icon-wrap.red {
  background: #ffe4e4;
  color: #ff4d4f;
}

.icon-wrap.orange {
  background: #fff1e0;
  color: #ff8a34;
}

.icon-wrap.green {
  background: #e7fbea;
  color: #22c55e;
}

.arrow {
  color: #94a3b8;
  font-size: 18px;
}

/* Card titles */
.problem-card h3 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #1f3aa8;
  margin: 20px 0 22px;
}

/* Content boxes */
.box {
  padding: 18px 20px;
  border-radius: 14px;
  font-size: 14px;
  font-family: var(--font-secondary);
  margin: 10px 0;
  text-align: left;
}

.red-box {
  background: #fff2f2;
  color: #1f3aa8;
  border-left: 4px solid #ff4d4f;
    height: 53px;

}

.orange-box {
  background: #fff6ec;
  color: #1f3aa8;
  border-left: 4px solid #ff8a34;
  height: 53px;
}

.green-box {
  background: #ecfff3;
  color: #1f3aa8;
  border-left: 4px solid #22c55e;
    height: 65px;

}

.down-arrow {
  color: #22c55e;
  font-size: 22px;
  /* margin: 6px 0; */

  margin-left: 190px;
}
